/* sans */
/*
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	src: url('OpenSans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: normal;
	src: url('OpenSans/OpenSans-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: bold;
	src: url('OpenSans/OpenSans-Semibold.ttf') format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: bold;
	src: url('OpenSans/OpenSans-Semibolditalic.ttf') format('truetype');
}
*/

/* fixed width */
/*
@font-face {
	font-family: 'Consola Mono';
	src: url('ConsolaMonoBook/ConsolaMonoBook.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
*/

html, body {
	background-color: #f5f5f5;
	background-repeat: repeat-y;
	background-positon: center;
	background-size: 100%;
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
	font-size: 10pt;
	font-family: 'Verdana', 'Helvetica', 'sans-serif';
	text-align: left;
	color: #000;
}
::selection {
	color: white;
	background-color: #c43;
}
a {
	color: #284689;
	font-weight: bold;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out 0;
	-moz-transition: all 0.2s ease-in-out 0;
	-ms-transition: all 0.2s ease-in-out 0;
	-o-transition: all 0.2s ease-in-out 0;
	transition: all 0.2s ease-in-out 0;
}
a:hover {
	color: #c43;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out 0;
	-moz-transition: all 0.2s ease-in-out 0;
	-ms-transition: all 0.2s ease-in-out 0;
	-o-transition: all 0.2s ease-in-out 0;
	transition: all 0.2s ease-in-out 0;
}

.container {
	width: 780px;
	margin-left: auto;
	margin-right: auto;
}
#specification {
	text-align: center;
}
#specification pre {
	font-family: 'Consola Mono';
	text-align: left;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid black;
	background: white;
	padding: 20px;
	border-radius: 5px;
}

header {
	text-align: center;
	margin: 20px;
}
footer {
	text-align: center;
	margin: 20px;
	font-size: smaller;
}

#topbar {
	padding: 0;
	margin: 0;
	font-size: 1em;
	margin-bottom: 20px;
	text-align: center;
}
#topbar h1 {
	font-size: 1em;
	display: inline-block;
	border-left: 1px solid #333;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	color: white;
	background-color: #c43;
	font-weight: bold;
	border-radius: 5px 0 0 5px;
	box-shadow: inset 0px 0px 3px #fff;
	padding:10px;
}
#topbar .contact-info {
	display: inline-block;
	margin:0;
	padding:0;
	border: 1px solid #333;
	box-shadow: inset 0px 0px 3px #333;
	border-radius: 5px;
}
#topbar .contact-info h1 {
	border: none;
	border-right: 1px solid #333;
	margin: 0;
}
#topbar .contact-info p {
	margin: 0;
	display:inline-block;
	vertical-align:middle;
	text-align:left;
	padding-left:10px;
	padding-right:10px;
	border-right: 1px dotted #333;
}
article h1,
article h2 {
	border-bottom: 1px solid #c43;
	font-size: 125%;
}

article h1 {
	font-size: 150%;
}

article h4 {
	font-size: 105%;
	font-weight: bold;
	margin-bottom:-0.8em;
}
/* navigation */
nav {
	padding: 0;
	margin: 0;
	display: inline-block;
}
nav ol {
	padding: 0;
	margin: 0;
	display: inline-block;
	border: 1px solid #333;
	background-color: rgba(225, 225, 225, 0.5);
	border-radius: 0 5px 5px 0;
	box-shadow: inset 0px 0px 3px #555;
}
nav li {
	margin: 0;
	display: inline;
	list-style-type: none;
}
nav a {
	display: inline-block;
	color: black;
	padding: 10px;
}
nav a.current {
	background-color: rgba(204, 68, 51, 0.5);
}
nav a:hover {
	display: inline-block;
	background-color: rgba(40, 70, 137, 0.5);
	color: black;
}
/* console like PRE environments */
.console {
	font-family: 'Consola Mono';
	border-radius: 5px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.85);
	padding: 5px;
}

/* minor fancyness */
.stroke {
	text-decoration: line-through;
}
